<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Neklo_FacebookPage>
            <version>1.0.0</version>
        </Neklo_FacebookPage>
    </modules>
    <global>
        <blocks>
            <neklo_facebookpage>
                <class>Neklo_FacebookPage_Block</class>
            </neklo_facebookpage>
        </blocks>
        <helpers>
            <neklo_facebookpage>
                <class>Neklo_FacebookPage_Helper</class>
            </neklo_facebookpage>
        </helpers>
        <models>
            <neklo_facebookpage_source>
                <class>Neklo_FacebookPage_Model_Source</class>
            </neklo_facebookpage_source>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <neklo_facebookpage>
                    <file>neklo/facebookpage.xml</file>
                </neklo_facebookpage>
            </updates>
        </layout>
        <translate>
            <modules>
                <Neklo_FacebookPage>
                    <files>
                        <default>Neklo_FacebookPage.csv</default>
                    </files>
                </Neklo_FacebookPage>
            </modules>
        </translate>
    </frontend>
    <default>
        <neklo_facebookpage>
            <general>
                <is_enabled>1</is_enabled>
            </general>
        </neklo_facebookpage>
    </default>
</config>