.neklo-facebook-page {
    position: relative;
}

.neklo-facebook-page .fb-xfbml-parse-ignore {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 64px;
    height: 64px;
}